<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="0364d088-3b5c-48a4-a7b4-a9cd5aa47760" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="b87f9723-ebb7-4f85-8d1f-df75742c0f70" />
  </appSettings>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExRatesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.nbrb.by/Services/ExRates.asmx" binding="basicHttpBinding" bindingConfiguration="ExRatesSoap" contract="ExRates.ExRatesSoap" name="ExRatesSoap" />
    </client>
  </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
