<?xml version="1.0" encoding="utf-8" ?>
<nlog >

  <extensions>
    <add assembly="LogentriesNLog"/>
  </extensions>
  <targets>
    <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
    layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    <target name="f1" type="File" fileName="file1.txt" layout="${date:format=dd-MM-yyyy} ${time:format=HH:mm:ss} ${LEVEL}, ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="f1"/>
    <logger name="*" minlevel="Debug" writeTo="f1"/>
  </rules>
</nlog>