<?xml version="1.0" encoding="utf-8" ?>
<nlog >

  <extensions>
    <add assembly="LogentriesNLog"/>
  </extensions>
  <targets>
    <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
    layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logentries"/>
  </rules>
</nlog>